body {
  background: #0d0d0d;
  color: lavender;
  text-align: center;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
}

#img-container img {
  border-radius: 16px;
  box-shadow: 0 0 10px white;
}

#main,
#sub-main {
  background: #0d0d0d;
  width: 80%;
  border-radius: 32px;
  box-shadow: 0 0 20px black;
  padding: 2rem;
  margin: auto;
}

#ls {
  font-size: 1.2rem;
}

ul {
  list-style-type: none !important;
  padding: 0;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #fff0f5;
  text-decoration: none
}

a:active,
a:focus,
a:hover {
  color: #9370db
}

code {
  color: #9370db !important;
  border: 0.2px solid #9370db;
  border-radius: 32px;
  padding: 2px 7px;
  font-size: 80%;
}

::-moz-selection {
  color: #9370db;
  background: lavenderblush;
}

::selection {
  color: #9370db;
  background: lavenderblush;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10%;
}

::-webkit-scrollbar-track {
  background: #0d0d0d;
}

::-webkit-scrollbar-thumb {
  background: #9370db;
  border-radius: 32px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9370db;
}